@font-face {
  font-family: "eva-icons-outline";
  font-style: normal;
  font-weight: 400;
  src: url("eva-icons-outline.woff2?891916d05534dd62c5f522d407783834") format("woff2");
}

[class*=" eva-icons-outline-"], [class^=eva-icons-outline-] {
  font-family: "eva-icons-outline";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.eva-icons-outline-activity-outline::before {
  content: "\f101";
}

.eva-icons-outline-alert-circle-outline::before {
  content: "\f102";
}

.eva-icons-outline-alert-triangle-outline::before {
  content: "\f103";
}

.eva-icons-outline-archive-outline::before {
  content: "\f104";
}

.eva-icons-outline-arrow-back-outline::before {
  content: "\f105";
}

.eva-icons-outline-arrow-circle-down-outline::before {
  content: "\f106";
}

.eva-icons-outline-arrow-circle-left-outline::before {
  content: "\f107";
}

.eva-icons-outline-arrow-circle-right-outline::before {
  content: "\f108";
}

.eva-icons-outline-arrow-circle-up-outline::before {
  content: "\f109";
}

.eva-icons-outline-arrow-down-outline::before {
  content: "\f10a";
}

.eva-icons-outline-arrow-downward-outline::before {
  content: "\f10b";
}

.eva-icons-outline-arrow-forward-outline::before {
  content: "\f10c";
}

.eva-icons-outline-arrow-ios-back-outline::before {
  content: "\f10d";
}

.eva-icons-outline-arrow-ios-downward-outline::before {
  content: "\f10e";
}

.eva-icons-outline-arrow-ios-forward-outline::before {
  content: "\f10f";
}

.eva-icons-outline-arrow-ios-upward-outline::before {
  content: "\f110";
}

.eva-icons-outline-arrow-left-outline::before {
  content: "\f111";
}

.eva-icons-outline-arrow-right-outline::before {
  content: "\f112";
}

.eva-icons-outline-arrow-up-outline::before {
  content: "\f113";
}

.eva-icons-outline-arrow-upward-outline::before {
  content: "\f114";
}

.eva-icons-outline-arrowhead-down-outline::before {
  content: "\f115";
}

.eva-icons-outline-arrowhead-left-outline::before {
  content: "\f116";
}

.eva-icons-outline-arrowhead-right-outline::before {
  content: "\f117";
}

.eva-icons-outline-arrowhead-up-outline::before {
  content: "\f118";
}

.eva-icons-outline-at-outline::before {
  content: "\f119";
}

.eva-icons-outline-attach-2-outline::before {
  content: "\f11a";
}

.eva-icons-outline-attach-outline::before {
  content: "\f11b";
}

.eva-icons-outline-award-outline::before {
  content: "\f11c";
}

.eva-icons-outline-backspace-outline::before {
  content: "\f11d";
}

.eva-icons-outline-bar-chart-2-outline::before {
  content: "\f11e";
}

.eva-icons-outline-bar-chart-outline::before {
  content: "\f11f";
}

.eva-icons-outline-battery-outline::before {
  content: "\f120";
}

.eva-icons-outline-behance-outline::before {
  content: "\f121";
}

.eva-icons-outline-bell-off-outline::before {
  content: "\f122";
}

.eva-icons-outline-bell-outline::before {
  content: "\f123";
}

.eva-icons-outline-bluetooth-outline::before {
  content: "\f124";
}

.eva-icons-outline-book-open-outline::before {
  content: "\f125";
}

.eva-icons-outline-book-outline::before {
  content: "\f126";
}

.eva-icons-outline-bookmark-outline::before {
  content: "\f127";
}

.eva-icons-outline-briefcase-outline::before {
  content: "\f128";
}

.eva-icons-outline-browser-outline::before {
  content: "\f129";
}

.eva-icons-outline-brush-outline::before {
  content: "\f12a";
}

.eva-icons-outline-bulb-outline::before {
  content: "\f12b";
}

.eva-icons-outline-calendar-outline::before {
  content: "\f12c";
}

.eva-icons-outline-camera-outline::before {
  content: "\f12d";
}

.eva-icons-outline-car-outline::before {
  content: "\f12e";
}

.eva-icons-outline-cast-outline::before {
  content: "\f12f";
}

.eva-icons-outline-charging-outline::before {
  content: "\f130";
}

.eva-icons-outline-checkmark-circle-2-outline::before {
  content: "\f131";
}

.eva-icons-outline-checkmark-circle-outline::before {
  content: "\f132";
}

.eva-icons-outline-checkmark-outline::before {
  content: "\f133";
}

.eva-icons-outline-checkmark-square-2-outline::before {
  content: "\f134";
}

.eva-icons-outline-checkmark-square-outline::before {
  content: "\f135";
}

.eva-icons-outline-chevron-down-outline::before {
  content: "\f136";
}

.eva-icons-outline-chevron-left-outline::before {
  content: "\f137";
}

.eva-icons-outline-chevron-right-outline::before {
  content: "\f138";
}

.eva-icons-outline-chevron-up-outline::before {
  content: "\f139";
}

.eva-icons-outline-clipboard-outline::before {
  content: "\f13a";
}

.eva-icons-outline-clock-outline::before {
  content: "\f13b";
}

.eva-icons-outline-close-circle-outline::before {
  content: "\f13c";
}

.eva-icons-outline-close-outline::before {
  content: "\f13d";
}

.eva-icons-outline-close-square-outline::before {
  content: "\f13e";
}

.eva-icons-outline-cloud-download-outline::before {
  content: "\f13f";
}

.eva-icons-outline-cloud-upload-outline::before {
  content: "\f140";
}

.eva-icons-outline-code-download-outline::before {
  content: "\f141";
}

.eva-icons-outline-code-outline::before {
  content: "\f142";
}

.eva-icons-outline-collapse-outline::before {
  content: "\f143";
}

.eva-icons-outline-color-palette-outline::before {
  content: "\f144";
}

.eva-icons-outline-color-picker-outline::before {
  content: "\f145";
}

.eva-icons-outline-compass-outline::before {
  content: "\f146";
}

.eva-icons-outline-copy-outline::before {
  content: "\f147";
}

.eva-icons-outline-corner-down-left-outline::before {
  content: "\f148";
}

.eva-icons-outline-corner-down-right-outline::before {
  content: "\f149";
}

.eva-icons-outline-corner-left-down-outline::before {
  content: "\f14a";
}

.eva-icons-outline-corner-left-up-outline::before {
  content: "\f14b";
}

.eva-icons-outline-corner-right-down-outline::before {
  content: "\f14c";
}

.eva-icons-outline-corner-right-up-outline::before {
  content: "\f14d";
}

.eva-icons-outline-corner-up-left-outline::before {
  content: "\f14e";
}

.eva-icons-outline-corner-up-right-outline::before {
  content: "\f14f";
}

.eva-icons-outline-credit-card-outline::before {
  content: "\f150";
}

.eva-icons-outline-crop-outline::before {
  content: "\f151";
}

.eva-icons-outline-cube-outline::before {
  content: "\f152";
}

.eva-icons-outline-diagonal-arrow-left-down-outline::before {
  content: "\f153";
}

.eva-icons-outline-diagonal-arrow-left-up-outline::before {
  content: "\f154";
}

.eva-icons-outline-diagonal-arrow-right-down-outline::before {
  content: "\f155";
}

.eva-icons-outline-diagonal-arrow-right-up-outline::before {
  content: "\f156";
}

.eva-icons-outline-done-all-outline::before {
  content: "\f157";
}

.eva-icons-outline-download-outline::before {
  content: "\f158";
}

.eva-icons-outline-droplet-off-outline::before {
  content: "\f159";
}

.eva-icons-outline-droplet-outline::before {
  content: "\f15a";
}

.eva-icons-outline-edit-2-outline::before {
  content: "\f15b";
}

.eva-icons-outline-edit-outline::before {
  content: "\f15c";
}

.eva-icons-outline-email-outline::before {
  content: "\f15d";
}

.eva-icons-outline-expand-outline::before {
  content: "\f15e";
}

.eva-icons-outline-external-link-outline::before {
  content: "\f15f";
}

.eva-icons-outline-eye-off-2-outline::before {
  content: "\f160";
}

.eva-icons-outline-eye-off-outline::before {
  content: "\f161";
}

.eva-icons-outline-eye-outline::before {
  content: "\f162";
}

.eva-icons-outline-facebook-outline::before {
  content: "\f163";
}

.eva-icons-outline-file-add-outline::before {
  content: "\f164";
}

.eva-icons-outline-file-outline::before {
  content: "\f165";
}

.eva-icons-outline-file-remove-outline::before {
  content: "\f166";
}

.eva-icons-outline-file-text-outline::before {
  content: "\f167";
}

.eva-icons-outline-film-outline::before {
  content: "\f168";
}

.eva-icons-outline-flag-outline::before {
  content: "\f169";
}

.eva-icons-outline-flash-off-outline::before {
  content: "\f16a";
}

.eva-icons-outline-flash-outline::before {
  content: "\f16b";
}

.eva-icons-outline-flip-2-outline::before {
  content: "\f16c";
}

.eva-icons-outline-flip-outline::before {
  content: "\f16d";
}

.eva-icons-outline-folder-add-outline::before {
  content: "\f16e";
}

.eva-icons-outline-folder-outline::before {
  content: "\f16f";
}

.eva-icons-outline-folder-remove-outline::before {
  content: "\f170";
}

.eva-icons-outline-funnel-outline::before {
  content: "\f171";
}

.eva-icons-outline-gift-outline::before {
  content: "\f172";
}

.eva-icons-outline-github-outline::before {
  content: "\f173";
}

.eva-icons-outline-globe-2-outline::before {
  content: "\f174";
}

.eva-icons-outline-globe-outline::before {
  content: "\f175";
}

.eva-icons-outline-google-outline::before {
  content: "\f176";
}

.eva-icons-outline-grid-outline::before {
  content: "\f177";
}

.eva-icons-outline-hard-drive-outline::before {
  content: "\f178";
}

.eva-icons-outline-hash-outline::before {
  content: "\f179";
}

.eva-icons-outline-headphones-outline::before {
  content: "\f17a";
}

.eva-icons-outline-heart-outline::before {
  content: "\f17b";
}

.eva-icons-outline-home-outline::before {
  content: "\f17c";
}

.eva-icons-outline-image-outline::before {
  content: "\f17d";
}

.eva-icons-outline-inbox-outline::before {
  content: "\f17e";
}

.eva-icons-outline-info-outline::before {
  content: "\f17f";
}

.eva-icons-outline-keypad-outline::before {
  content: "\f180";
}

.eva-icons-outline-layers-outline::before {
  content: "\f181";
}

.eva-icons-outline-layout-outline::before {
  content: "\f182";
}

.eva-icons-outline-link-2-outline::before {
  content: "\f183";
}

.eva-icons-outline-link-outline::before {
  content: "\f184";
}

.eva-icons-outline-linkedin-outline::before {
  content: "\f185";
}

.eva-icons-outline-list-outline::before {
  content: "\f186";
}

.eva-icons-outline-loader-outline::before {
  content: "\f187";
}

.eva-icons-outline-lock-outline::before {
  content: "\f188";
}

.eva-icons-outline-log-in-outline::before {
  content: "\f189";
}

.eva-icons-outline-log-out-outline::before {
  content: "\f18a";
}

.eva-icons-outline-map-outline::before {
  content: "\f18b";
}

.eva-icons-outline-maximize-outline::before {
  content: "\f18c";
}

.eva-icons-outline-menu-2-outline::before {
  content: "\f18d";
}

.eva-icons-outline-menu-arrow-outline::before {
  content: "\f18e";
}

.eva-icons-outline-menu-outline::before {
  content: "\f18f";
}

.eva-icons-outline-message-circle-outline::before {
  content: "\f190";
}

.eva-icons-outline-message-square-outline::before {
  content: "\f191";
}

.eva-icons-outline-mic-off-outline::before {
  content: "\f192";
}

.eva-icons-outline-mic-outline::before {
  content: "\f193";
}

.eva-icons-outline-minimize-outline::before {
  content: "\f194";
}

.eva-icons-outline-minus-circle-outline::before {
  content: "\f195";
}

.eva-icons-outline-minus-outline::before {
  content: "\f196";
}

.eva-icons-outline-minus-square-outline::before {
  content: "\f197";
}

.eva-icons-outline-monitor-outline::before {
  content: "\f198";
}

.eva-icons-outline-moon-outline::before {
  content: "\f199";
}

.eva-icons-outline-more-horizontal-outline::before {
  content: "\f19a";
}

.eva-icons-outline-more-vertical-outline::before {
  content: "\f19b";
}

.eva-icons-outline-move-outline::before {
  content: "\f19c";
}

.eva-icons-outline-music-outline::before {
  content: "\f19d";
}

.eva-icons-outline-navigation-2-outline::before {
  content: "\f19e";
}

.eva-icons-outline-navigation-outline::before {
  content: "\f19f";
}

.eva-icons-outline-npm-outline::before {
  content: "\f1a0";
}

.eva-icons-outline-options-2-outline::before {
  content: "\f1a1";
}

.eva-icons-outline-options-outline::before {
  content: "\f1a2";
}

.eva-icons-outline-pantone-outline::before {
  content: "\f1a3";
}

.eva-icons-outline-paper-plane-outline::before {
  content: "\f1a4";
}

.eva-icons-outline-pause-circle-outline::before {
  content: "\f1a5";
}

.eva-icons-outline-people-outline::before {
  content: "\f1a6";
}

.eva-icons-outline-percent-outline::before {
  content: "\f1a7";
}

.eva-icons-outline-person-add-outline::before {
  content: "\f1a8";
}

.eva-icons-outline-person-delete-outline::before {
  content: "\f1a9";
}

.eva-icons-outline-person-done-outline::before {
  content: "\f1aa";
}

.eva-icons-outline-person-outline::before {
  content: "\f1ab";
}

.eva-icons-outline-person-remove-outline::before {
  content: "\f1ac";
}

.eva-icons-outline-phone-call-outline::before {
  content: "\f1ad";
}

.eva-icons-outline-phone-missed-outline::before {
  content: "\f1ae";
}

.eva-icons-outline-phone-off-outline::before {
  content: "\f1af";
}

.eva-icons-outline-phone-outline::before {
  content: "\f1b0";
}

.eva-icons-outline-pie-chart-outline::before {
  content: "\f1b1";
}

.eva-icons-outline-pin-outline::before {
  content: "\f1b2";
}

.eva-icons-outline-play-circle-outline::before {
  content: "\f1b3";
}

.eva-icons-outline-plus-circle-outline::before {
  content: "\f1b4";
}

.eva-icons-outline-plus-outline::before {
  content: "\f1b5";
}

.eva-icons-outline-plus-square-outline::before {
  content: "\f1b6";
}

.eva-icons-outline-power-outline::before {
  content: "\f1b7";
}

.eva-icons-outline-pricetags-outline::before {
  content: "\f1b8";
}

.eva-icons-outline-printer-outline::before {
  content: "\f1b9";
}

.eva-icons-outline-question-mark-circle-outline::before {
  content: "\f1ba";
}

.eva-icons-outline-question-mark-outline::before {
  content: "\f1bb";
}

.eva-icons-outline-radio-button-off-outline::before {
  content: "\f1bc";
}

.eva-icons-outline-radio-button-on-outline::before {
  content: "\f1bd";
}

.eva-icons-outline-radio-outline::before {
  content: "\f1be";
}

.eva-icons-outline-recording-outline::before {
  content: "\f1bf";
}

.eva-icons-outline-refresh-outline::before {
  content: "\f1c0";
}

.eva-icons-outline-repeat-outline::before {
  content: "\f1c1";
}

.eva-icons-outline-rewind-left-outline::before {
  content: "\f1c2";
}

.eva-icons-outline-rewind-right-outline::before {
  content: "\f1c3";
}

.eva-icons-outline-save-outline::before {
  content: "\f1c4";
}

.eva-icons-outline-scissors-outline::before {
  content: "\f1c5";
}

.eva-icons-outline-search-outline::before {
  content: "\f1c6";
}

.eva-icons-outline-settings-2-outline::before {
  content: "\f1c7";
}

.eva-icons-outline-settings-outline::before {
  content: "\f1c8";
}

.eva-icons-outline-shake-outline::before {
  content: "\f1c9";
}

.eva-icons-outline-share-outline::before {
  content: "\f1ca";
}

.eva-icons-outline-shield-off-outline::before {
  content: "\f1cb";
}

.eva-icons-outline-shield-outline::before {
  content: "\f1cc";
}

.eva-icons-outline-shopping-bag-outline::before {
  content: "\f1cd";
}

.eva-icons-outline-shopping-cart-outline::before {
  content: "\f1ce";
}

.eva-icons-outline-shuffle-2-outline::before {
  content: "\f1cf";
}

.eva-icons-outline-shuffle-outline::before {
  content: "\f1d0";
}

.eva-icons-outline-skip-back-outline::before {
  content: "\f1d1";
}

.eva-icons-outline-skip-forward-outline::before {
  content: "\f1d2";
}

.eva-icons-outline-slash-outline::before {
  content: "\f1d3";
}

.eva-icons-outline-smartphone-outline::before {
  content: "\f1d4";
}

.eva-icons-outline-smiling-face-outline::before {
  content: "\f1d5";
}

.eva-icons-outline-speaker-outline::before {
  content: "\f1d6";
}

.eva-icons-outline-square-outline::before {
  content: "\f1d7";
}

.eva-icons-outline-star-outline::before {
  content: "\f1d8";
}

.eva-icons-outline-stop-circle-outline::before {
  content: "\f1d9";
}

.eva-icons-outline-sun-outline::before {
  content: "\f1da";
}

.eva-icons-outline-swap-outline::before {
  content: "\f1db";
}

.eva-icons-outline-sync-outline::before {
  content: "\f1dc";
}

.eva-icons-outline-text-outline::before {
  content: "\f1dd";
}

.eva-icons-outline-thermometer-minus-outline::before {
  content: "\f1de";
}

.eva-icons-outline-thermometer-outline::before {
  content: "\f1df";
}

.eva-icons-outline-thermometer-plus-outline::before {
  content: "\f1e0";
}

.eva-icons-outline-toggle-left-outline::before {
  content: "\f1e1";
}

.eva-icons-outline-toggle-right-outline::before {
  content: "\f1e2";
}

.eva-icons-outline-trash-2-outline::before {
  content: "\f1e3";
}

.eva-icons-outline-trash-outline::before {
  content: "\f1e4";
}

.eva-icons-outline-trending-down-outline::before {
  content: "\f1e5";
}

.eva-icons-outline-trending-up-outline::before {
  content: "\f1e6";
}

.eva-icons-outline-tv-outline::before {
  content: "\f1e7";
}

.eva-icons-outline-twitter-outline::before {
  content: "\f1e8";
}

.eva-icons-outline-umbrella-outline::before {
  content: "\f1e9";
}

.eva-icons-outline-undo-outline::before {
  content: "\f1ea";
}

.eva-icons-outline-unlock-outline::before {
  content: "\f1eb";
}

.eva-icons-outline-upload-outline::before {
  content: "\f1ec";
}

.eva-icons-outline-video-off-outline::before {
  content: "\f1ed";
}

.eva-icons-outline-video-outline::before {
  content: "\f1ee";
}

.eva-icons-outline-volume-down-outline::before {
  content: "\f1ef";
}

.eva-icons-outline-volume-mute-outline::before {
  content: "\f1f0";
}

.eva-icons-outline-volume-off-outline::before {
  content: "\f1f1";
}

.eva-icons-outline-volume-up-outline::before {
  content: "\f1f2";
}

.eva-icons-outline-wifi-off-outline::before {
  content: "\f1f3";
}

.eva-icons-outline-wifi-outline::before {
  content: "\f1f4";
}
