@font-face {
  font-family: "eva-icons-fill";
  font-style: normal;
  font-weight: 400;
  src: url("eva-icons-fill.woff2?d168b859a284ce5916daf4f007886de5") format("woff2");
}

[class*=" eva-icons-fill-"], [class^=eva-icons-fill-] {
  font-family: "eva-icons-fill";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.eva-icons-fill-activity::before {
  content: "\f101";
}

.eva-icons-fill-alert-circle::before {
  content: "\f102";
}

.eva-icons-fill-alert-triangle::before {
  content: "\f103";
}

.eva-icons-fill-archive::before {
  content: "\f104";
}

.eva-icons-fill-arrow-back::before {
  content: "\f105";
}

.eva-icons-fill-arrow-circle-down::before {
  content: "\f106";
}

.eva-icons-fill-arrow-circle-left::before {
  content: "\f107";
}

.eva-icons-fill-arrow-circle-right::before {
  content: "\f108";
}

.eva-icons-fill-arrow-circle-up::before {
  content: "\f109";
}

.eva-icons-fill-arrow-down::before {
  content: "\f10a";
}

.eva-icons-fill-arrow-downward::before {
  content: "\f10b";
}

.eva-icons-fill-arrow-forward::before {
  content: "\f10c";
}

.eva-icons-fill-arrow-ios-back::before {
  content: "\f10d";
}

.eva-icons-fill-arrow-ios-downward::before {
  content: "\f10e";
}

.eva-icons-fill-arrow-ios-forward::before {
  content: "\f10f";
}

.eva-icons-fill-arrow-ios-upward::before {
  content: "\f110";
}

.eva-icons-fill-arrow-left::before {
  content: "\f111";
}

.eva-icons-fill-arrow-right::before {
  content: "\f112";
}

.eva-icons-fill-arrow-up::before {
  content: "\f113";
}

.eva-icons-fill-arrow-upward::before {
  content: "\f114";
}

.eva-icons-fill-arrowhead-down::before {
  content: "\f115";
}

.eva-icons-fill-arrowhead-left::before {
  content: "\f116";
}

.eva-icons-fill-arrowhead-right::before {
  content: "\f117";
}

.eva-icons-fill-arrowhead-up::before {
  content: "\f118";
}

.eva-icons-fill-at::before {
  content: "\f119";
}

.eva-icons-fill-attach-2::before {
  content: "\f11a";
}

.eva-icons-fill-attach::before {
  content: "\f11b";
}

.eva-icons-fill-award::before {
  content: "\f11c";
}

.eva-icons-fill-backspace::before {
  content: "\f11d";
}

.eva-icons-fill-bar-chart-2::before {
  content: "\f11e";
}

.eva-icons-fill-bar-chart::before {
  content: "\f11f";
}

.eva-icons-fill-battery::before {
  content: "\f120";
}

.eva-icons-fill-behance::before {
  content: "\f121";
}

.eva-icons-fill-bell-off::before {
  content: "\f122";
}

.eva-icons-fill-bell::before {
  content: "\f123";
}

.eva-icons-fill-bluetooth::before {
  content: "\f124";
}

.eva-icons-fill-book-open::before {
  content: "\f125";
}

.eva-icons-fill-book::before {
  content: "\f126";
}

.eva-icons-fill-bookmark::before {
  content: "\f127";
}

.eva-icons-fill-briefcase::before {
  content: "\f128";
}

.eva-icons-fill-browser::before {
  content: "\f129";
}

.eva-icons-fill-brush::before {
  content: "\f12a";
}

.eva-icons-fill-bulb::before {
  content: "\f12b";
}

.eva-icons-fill-calendar::before {
  content: "\f12c";
}

.eva-icons-fill-camera::before {
  content: "\f12d";
}

.eva-icons-fill-car::before {
  content: "\f12e";
}

.eva-icons-fill-cast::before {
  content: "\f12f";
}

.eva-icons-fill-charging::before {
  content: "\f130";
}

.eva-icons-fill-checkmark-circle-2::before {
  content: "\f131";
}

.eva-icons-fill-checkmark-circle::before {
  content: "\f132";
}

.eva-icons-fill-checkmark-square-2::before {
  content: "\f133";
}

.eva-icons-fill-checkmark-square::before {
  content: "\f134";
}

.eva-icons-fill-checkmark::before {
  content: "\f135";
}

.eva-icons-fill-chevron-down::before {
  content: "\f136";
}

.eva-icons-fill-chevron-left::before {
  content: "\f137";
}

.eva-icons-fill-chevron-right::before {
  content: "\f138";
}

.eva-icons-fill-chevron-up::before {
  content: "\f139";
}

.eva-icons-fill-clipboard::before {
  content: "\f13a";
}

.eva-icons-fill-clock::before {
  content: "\f13b";
}

.eva-icons-fill-close-circle::before {
  content: "\f13c";
}

.eva-icons-fill-close-square::before {
  content: "\f13d";
}

.eva-icons-fill-close::before {
  content: "\f13e";
}

.eva-icons-fill-cloud-download::before {
  content: "\f13f";
}

.eva-icons-fill-cloud-upload::before {
  content: "\f140";
}

.eva-icons-fill-code-download::before {
  content: "\f141";
}

.eva-icons-fill-code::before {
  content: "\f142";
}

.eva-icons-fill-collapse::before {
  content: "\f143";
}

.eva-icons-fill-color-palette::before {
  content: "\f144";
}

.eva-icons-fill-color-picker::before {
  content: "\f145";
}

.eva-icons-fill-compass::before {
  content: "\f146";
}

.eva-icons-fill-copy::before {
  content: "\f147";
}

.eva-icons-fill-corner-down-left::before {
  content: "\f148";
}

.eva-icons-fill-corner-down-right::before {
  content: "\f149";
}

.eva-icons-fill-corner-left-down::before {
  content: "\f14a";
}

.eva-icons-fill-corner-left-up::before {
  content: "\f14b";
}

.eva-icons-fill-corner-right-down::before {
  content: "\f14c";
}

.eva-icons-fill-corner-right-up::before {
  content: "\f14d";
}

.eva-icons-fill-corner-up-left::before {
  content: "\f14e";
}

.eva-icons-fill-corner-up-right::before {
  content: "\f14f";
}

.eva-icons-fill-credit-card::before {
  content: "\f150";
}

.eva-icons-fill-crop::before {
  content: "\f151";
}

.eva-icons-fill-cube::before {
  content: "\f152";
}

.eva-icons-fill-diagonal-arrow-left-down::before {
  content: "\f153";
}

.eva-icons-fill-diagonal-arrow-left-up::before {
  content: "\f154";
}

.eva-icons-fill-diagonal-arrow-right-down::before {
  content: "\f155";
}

.eva-icons-fill-diagonal-arrow-right-up::before {
  content: "\f156";
}

.eva-icons-fill-done-all::before {
  content: "\f157";
}

.eva-icons-fill-download::before {
  content: "\f158";
}

.eva-icons-fill-droplet-off::before {
  content: "\f159";
}

.eva-icons-fill-droplet::before {
  content: "\f15a";
}

.eva-icons-fill-edit-2::before {
  content: "\f15b";
}

.eva-icons-fill-edit::before {
  content: "\f15c";
}

.eva-icons-fill-email::before {
  content: "\f15d";
}

.eva-icons-fill-expand::before {
  content: "\f15e";
}

.eva-icons-fill-external-link::before {
  content: "\f15f";
}

.eva-icons-fill-eye-off-2::before {
  content: "\f160";
}

.eva-icons-fill-eye-off::before {
  content: "\f161";
}

.eva-icons-fill-eye::before {
  content: "\f162";
}

.eva-icons-fill-facebook::before {
  content: "\f163";
}

.eva-icons-fill-file-add::before {
  content: "\f164";
}

.eva-icons-fill-file-remove::before {
  content: "\f165";
}

.eva-icons-fill-file-text::before {
  content: "\f166";
}

.eva-icons-fill-file::before {
  content: "\f167";
}

.eva-icons-fill-film::before {
  content: "\f168";
}

.eva-icons-fill-flag::before {
  content: "\f169";
}

.eva-icons-fill-flash-off::before {
  content: "\f16a";
}

.eva-icons-fill-flash::before {
  content: "\f16b";
}

.eva-icons-fill-flip-2::before {
  content: "\f16c";
}

.eva-icons-fill-flip::before {
  content: "\f16d";
}

.eva-icons-fill-folder-add::before {
  content: "\f16e";
}

.eva-icons-fill-folder-remove::before {
  content: "\f16f";
}

.eva-icons-fill-folder::before {
  content: "\f170";
}

.eva-icons-fill-funnel::before {
  content: "\f171";
}

.eva-icons-fill-gift::before {
  content: "\f172";
}

.eva-icons-fill-github::before {
  content: "\f173";
}

.eva-icons-fill-globe-2::before {
  content: "\f174";
}

.eva-icons-fill-globe-3::before {
  content: "\f175";
}

.eva-icons-fill-globe::before {
  content: "\f176";
}

.eva-icons-fill-google::before {
  content: "\f177";
}

.eva-icons-fill-grid::before {
  content: "\f178";
}

.eva-icons-fill-hard-drive::before {
  content: "\f179";
}

.eva-icons-fill-hash::before {
  content: "\f17a";
}

.eva-icons-fill-headphones::before {
  content: "\f17b";
}

.eva-icons-fill-heart::before {
  content: "\f17c";
}

.eva-icons-fill-home::before {
  content: "\f17d";
}

.eva-icons-fill-image-2::before {
  content: "\f17e";
}

.eva-icons-fill-image::before {
  content: "\f17f";
}

.eva-icons-fill-inbox::before {
  content: "\f180";
}

.eva-icons-fill-info::before {
  content: "\f181";
}

.eva-icons-fill-keypad::before {
  content: "\f182";
}

.eva-icons-fill-layers::before {
  content: "\f183";
}

.eva-icons-fill-layout::before {
  content: "\f184";
}

.eva-icons-fill-link-2::before {
  content: "\f185";
}

.eva-icons-fill-link::before {
  content: "\f186";
}

.eva-icons-fill-linkedin::before {
  content: "\f187";
}

.eva-icons-fill-list::before {
  content: "\f188";
}

.eva-icons-fill-lock::before {
  content: "\f189";
}

.eva-icons-fill-log-in::before {
  content: "\f18a";
}

.eva-icons-fill-log-out::before {
  content: "\f18b";
}

.eva-icons-fill-map::before {
  content: "\f18c";
}

.eva-icons-fill-maximize::before {
  content: "\f18d";
}

.eva-icons-fill-menu-2::before {
  content: "\f18e";
}

.eva-icons-fill-menu-arrow::before {
  content: "\f18f";
}

.eva-icons-fill-menu::before {
  content: "\f190";
}

.eva-icons-fill-message-circle::before {
  content: "\f191";
}

.eva-icons-fill-message-square::before {
  content: "\f192";
}

.eva-icons-fill-mic-off::before {
  content: "\f193";
}

.eva-icons-fill-mic::before {
  content: "\f194";
}

.eva-icons-fill-minimize::before {
  content: "\f195";
}

.eva-icons-fill-minus-circle::before {
  content: "\f196";
}

.eva-icons-fill-minus-square::before {
  content: "\f197";
}

.eva-icons-fill-minus::before {
  content: "\f198";
}

.eva-icons-fill-monitor::before {
  content: "\f199";
}

.eva-icons-fill-moon::before {
  content: "\f19a";
}

.eva-icons-fill-more-horizontal::before {
  content: "\f19b";
}

.eva-icons-fill-more-vertical::before {
  content: "\f19c";
}

.eva-icons-fill-move::before {
  content: "\f19d";
}

.eva-icons-fill-music::before {
  content: "\f19e";
}

.eva-icons-fill-navigation-2::before {
  content: "\f19f";
}

.eva-icons-fill-navigation::before {
  content: "\f1a0";
}

.eva-icons-fill-npm::before {
  content: "\f1a1";
}

.eva-icons-fill-options-2::before {
  content: "\f1a2";
}

.eva-icons-fill-options::before {
  content: "\f1a3";
}

.eva-icons-fill-pantone::before {
  content: "\f1a4";
}

.eva-icons-fill-paper-plane::before {
  content: "\f1a5";
}

.eva-icons-fill-pause-circle::before {
  content: "\f1a6";
}

.eva-icons-fill-people::before {
  content: "\f1a7";
}

.eva-icons-fill-percent::before {
  content: "\f1a8";
}

.eva-icons-fill-person-add::before {
  content: "\f1a9";
}

.eva-icons-fill-person-delete::before {
  content: "\f1aa";
}

.eva-icons-fill-person-done::before {
  content: "\f1ab";
}

.eva-icons-fill-person-remove::before {
  content: "\f1ac";
}

.eva-icons-fill-person::before {
  content: "\f1ad";
}

.eva-icons-fill-phone-call::before {
  content: "\f1ae";
}

.eva-icons-fill-phone-missed::before {
  content: "\f1af";
}

.eva-icons-fill-phone-off::before {
  content: "\f1b0";
}

.eva-icons-fill-phone::before {
  content: "\f1b1";
}

.eva-icons-fill-pie-chart-2::before {
  content: "\f1b2";
}

.eva-icons-fill-pie-chart::before {
  content: "\f1b3";
}

.eva-icons-fill-pin::before {
  content: "\f1b4";
}

.eva-icons-fill-play-circle::before {
  content: "\f1b5";
}

.eva-icons-fill-plus-circle::before {
  content: "\f1b6";
}

.eva-icons-fill-plus-square::before {
  content: "\f1b7";
}

.eva-icons-fill-plus::before {
  content: "\f1b8";
}

.eva-icons-fill-power::before {
  content: "\f1b9";
}

.eva-icons-fill-pricetags::before {
  content: "\f1ba";
}

.eva-icons-fill-printer::before {
  content: "\f1bb";
}

.eva-icons-fill-question-mark-circle::before {
  content: "\f1bc";
}

.eva-icons-fill-question-mark::before {
  content: "\f1bd";
}

.eva-icons-fill-radio-button-off::before {
  content: "\f1be";
}

.eva-icons-fill-radio-button-on::before {
  content: "\f1bf";
}

.eva-icons-fill-radio::before {
  content: "\f1c0";
}

.eva-icons-fill-recording::before {
  content: "\f1c1";
}

.eva-icons-fill-refresh::before {
  content: "\f1c2";
}

.eva-icons-fill-repeat::before {
  content: "\f1c3";
}

.eva-icons-fill-rewind-left::before {
  content: "\f1c4";
}

.eva-icons-fill-rewind-right::before {
  content: "\f1c5";
}

.eva-icons-fill-save::before {
  content: "\f1c6";
}

.eva-icons-fill-scissors::before {
  content: "\f1c7";
}

.eva-icons-fill-search::before {
  content: "\f1c8";
}

.eva-icons-fill-settings-2::before {
  content: "\f1c9";
}

.eva-icons-fill-settings::before {
  content: "\f1ca";
}

.eva-icons-fill-shake::before {
  content: "\f1cb";
}

.eva-icons-fill-share::before {
  content: "\f1cc";
}

.eva-icons-fill-shield-off::before {
  content: "\f1cd";
}

.eva-icons-fill-shield::before {
  content: "\f1ce";
}

.eva-icons-fill-shopping-bag::before {
  content: "\f1cf";
}

.eva-icons-fill-shopping-cart::before {
  content: "\f1d0";
}

.eva-icons-fill-shuffle-2::before {
  content: "\f1d1";
}

.eva-icons-fill-shuffle::before {
  content: "\f1d2";
}

.eva-icons-fill-skip-back::before {
  content: "\f1d3";
}

.eva-icons-fill-skip-forward::before {
  content: "\f1d4";
}

.eva-icons-fill-slash::before {
  content: "\f1d5";
}

.eva-icons-fill-smartphone::before {
  content: "\f1d6";
}

.eva-icons-fill-smiling-face::before {
  content: "\f1d7";
}

.eva-icons-fill-speaker::before {
  content: "\f1d8";
}

.eva-icons-fill-square::before {
  content: "\f1d9";
}

.eva-icons-fill-star::before {
  content: "\f1da";
}

.eva-icons-fill-stop-circle::before {
  content: "\f1db";
}

.eva-icons-fill-sun::before {
  content: "\f1dc";
}

.eva-icons-fill-swap::before {
  content: "\f1dd";
}

.eva-icons-fill-sync::before {
  content: "\f1de";
}

.eva-icons-fill-text::before {
  content: "\f1df";
}

.eva-icons-fill-thermometer-minus::before {
  content: "\f1e0";
}

.eva-icons-fill-thermometer-plus::before {
  content: "\f1e1";
}

.eva-icons-fill-thermometer::before {
  content: "\f1e2";
}

.eva-icons-fill-toggle-left::before {
  content: "\f1e3";
}

.eva-icons-fill-toggle-right::before {
  content: "\f1e4";
}

.eva-icons-fill-trash-2::before {
  content: "\f1e5";
}

.eva-icons-fill-trash::before {
  content: "\f1e6";
}

.eva-icons-fill-trending-down::before {
  content: "\f1e7";
}

.eva-icons-fill-trending-up::before {
  content: "\f1e8";
}

.eva-icons-fill-tv::before {
  content: "\f1e9";
}

.eva-icons-fill-twitter::before {
  content: "\f1ea";
}

.eva-icons-fill-umbrella::before {
  content: "\f1eb";
}

.eva-icons-fill-undo::before {
  content: "\f1ec";
}

.eva-icons-fill-unlock::before {
  content: "\f1ed";
}

.eva-icons-fill-upload::before {
  content: "\f1ee";
}

.eva-icons-fill-video-off::before {
  content: "\f1ef";
}

.eva-icons-fill-video::before {
  content: "\f1f0";
}

.eva-icons-fill-volume-down::before {
  content: "\f1f1";
}

.eva-icons-fill-volume-mute::before {
  content: "\f1f2";
}

.eva-icons-fill-volume-off::before {
  content: "\f1f3";
}

.eva-icons-fill-volume-up::before {
  content: "\f1f4";
}

.eva-icons-fill-wifi-off::before {
  content: "\f1f5";
}

.eva-icons-fill-wifi::before {
  content: "\f1f6";
}
