@font-face {
  font-family: "evil-icons";
  font-style: normal;
  font-weight: 400;
  src: url("evil-icons.woff2?e5f26d53acbd26cc922ade2394f23e4d") format("woff2");
}

[class*=" evil-icons-"], [class^=evil-icons-] {
  font-family: "evil-icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.evil-icons-ei-archive::before {
  content: "\f101";
}

.evil-icons-ei-arrow-down::before {
  content: "\f102";
}

.evil-icons-ei-arrow-left::before {
  content: "\f103";
}

.evil-icons-ei-arrow-right::before {
  content: "\f104";
}

.evil-icons-ei-arrow-up::before {
  content: "\f105";
}

.evil-icons-ei-bell::before {
  content: "\f106";
}

.evil-icons-ei-calendar::before {
  content: "\f107";
}

.evil-icons-ei-camera::before {
  content: "\f108";
}

.evil-icons-ei-cart::before {
  content: "\f109";
}

.evil-icons-ei-chart::before {
  content: "\f10a";
}

.evil-icons-ei-check::before {
  content: "\f10b";
}

.evil-icons-ei-chevron-down::before {
  content: "\f10c";
}

.evil-icons-ei-chevron-left::before {
  content: "\f10d";
}

.evil-icons-ei-chevron-right::before {
  content: "\f10e";
}

.evil-icons-ei-chevron-up::before {
  content: "\f10f";
}

.evil-icons-ei-clock::before {
  content: "\f110";
}

.evil-icons-ei-close-o::before {
  content: "\f111";
}

.evil-icons-ei-close::before {
  content: "\f112";
}

.evil-icons-ei-comment::before {
  content: "\f113";
}

.evil-icons-ei-credit-card::before {
  content: "\f114";
}

.evil-icons-ei-envelope::before {
  content: "\f115";
}

.evil-icons-ei-exclamation::before {
  content: "\f116";
}

.evil-icons-ei-external-link::before {
  content: "\f117";
}

.evil-icons-ei-eye::before {
  content: "\f118";
}

.evil-icons-ei-gear::before {
  content: "\f119";
}

.evil-icons-ei-heart::before {
  content: "\f11a";
}

.evil-icons-ei-image::before {
  content: "\f11b";
}

.evil-icons-ei-like::before {
  content: "\f11c";
}

.evil-icons-ei-link::before {
  content: "\f11d";
}

.evil-icons-ei-location::before {
  content: "\f11e";
}

.evil-icons-ei-lock::before {
  content: "\f11f";
}

.evil-icons-ei-minus::before {
  content: "\f120";
}

.evil-icons-ei-navicon::before {
  content: "\f121";
}

.evil-icons-ei-paperclip::before {
  content: "\f122";
}

.evil-icons-ei-pencil::before {
  content: "\f123";
}

.evil-icons-ei-play::before {
  content: "\f124";
}

.evil-icons-ei-plus::before {
  content: "\f125";
}

.evil-icons-ei-pointer::before {
  content: "\f126";
}

.evil-icons-ei-question::before {
  content: "\f127";
}

.evil-icons-ei-redo::before {
  content: "\f128";
}

.evil-icons-ei-refresh::before {
  content: "\f129";
}

.evil-icons-ei-retweet::before {
  content: "\f12a";
}

.evil-icons-ei-sc-facebook::before {
  content: "\f12b";
}

.evil-icons-ei-sc-github::before {
  content: "\f12c";
}

.evil-icons-ei-sc-google-plus::before {
  content: "\f12d";
}

.evil-icons-ei-sc-instagram::before {
  content: "\f12e";
}

.evil-icons-ei-sc-linkedin::before {
  content: "\f12f";
}

.evil-icons-ei-sc-odnoklassniki::before {
  content: "\f130";
}

.evil-icons-ei-sc-pinterest::before {
  content: "\f131";
}

.evil-icons-ei-sc-skype::before {
  content: "\f132";
}

.evil-icons-ei-sc-soundcloud::before {
  content: "\f133";
}

.evil-icons-ei-sc-telegram::before {
  content: "\f134";
}

.evil-icons-ei-sc-tumblr::before {
  content: "\f135";
}

.evil-icons-ei-sc-twitter::before {
  content: "\f136";
}

.evil-icons-ei-sc-vimeo::before {
  content: "\f137";
}

.evil-icons-ei-sc-vk::before {
  content: "\f138";
}

.evil-icons-ei-sc-youtube::before {
  content: "\f139";
}

.evil-icons-ei-search::before {
  content: "\f13a";
}

.evil-icons-ei-share-apple::before {
  content: "\f13b";
}

.evil-icons-ei-share-google::before {
  content: "\f13c";
}

.evil-icons-ei-spinner-2::before {
  content: "\f13d";
}

.evil-icons-ei-spinner-3::before {
  content: "\f13e";
}

.evil-icons-ei-spinner::before {
  content: "\f13f";
}

.evil-icons-ei-star::before {
  content: "\f140";
}

.evil-icons-ei-tag::before {
  content: "\f141";
}

.evil-icons-ei-trash::before {
  content: "\f142";
}

.evil-icons-ei-trophy::before {
  content: "\f143";
}

.evil-icons-ei-undo::before {
  content: "\f144";
}

.evil-icons-ei-unlock::before {
  content: "\f145";
}

.evil-icons-ei-user::before {
  content: "\f146";
}
