
.icon-emo-happy:before { content: '\e82c'; } /* '' */
.icon-emo-wink:before { content: '\e82d'; } /* '' */
.icon-emo-grin:before { content: '\e82e'; } /* '' */
.icon-emo-beer:before { content: '\e82f'; } /* '' */
.icon-emo-angry:before { content: '\e830'; } /* '' */
.icon-emo-wink2:before { content: '\e831'; } /* '' */
.icon-emo-unhappy:before { content: '\e832'; } /* '' */
.icon-emo-saint:before { content: '\e833'; } /* '' */
.icon-emo-cry:before { content: '\e834'; } /* '' */
.icon-emo-sleep:before { content: '\e835'; } /* '' */
.icon-emo-thumbsup:before { content: '\e836'; } /* '' */
.icon-emo-shoot:before { content: '\e837'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-emo-squint:before { content: '\e83a'; } /* '' */
.icon-emo-devil:before { content: '\e83b'; } /* '' */
.icon-emo-surprised:before { content: '\e83c'; } /* '' */
.icon-emo-laugh:before { content: '\e83d'; } /* '' */
.icon-emo-tongue:before { content: '\e83e'; } /* '' */
.icon-spin1:before { content: '\e83f'; } /* '' */
.icon-firefox:before { content: '\e840'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-opera:before { content: '\e842'; } /* '' */
.icon-ie:before { content: '\e843'; } /* '' */
.icon-crown:before { content: '\e844'; } /* '' */
.icon-crown-plus:before { content: '\e845'; } /* '' */
.icon-crown-minus:before { content: '\e846'; } /* '' */
.icon-emo-coffee:before { content: '\e847'; } /* '' */
.icon-spin2:before { content: '\e848'; } /* '' */
.icon-spin3:before { content: '\e849'; } /* '' */
.icon-emo-sunglasses:before { content: '\e84a'; } /* '' */
.icon-emo-displeased:before { content: '\e84b'; } /* '' */
.icon-spin4:before { content: '\e84c'; } /* '' */
.icon-marquee:before { content: '\e84d'; } /* '' */