.svg-evil-icons-ei-archive {
	background: url("/webfonts/css/evil-icons.svg") 0 0 no-repeat;
}

.svg-evil-icons-ei-archive-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-arrow-down {
	background: url("/webfonts/css/evil-icons.svg") 12.5% 0 no-repeat;
}

.svg-evil-icons-ei-arrow-down-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-arrow-left {
	background: url("/webfonts/css/evil-icons.svg") 0 14.285714285714286% no-repeat;
}

.svg-evil-icons-ei-arrow-left-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-arrow-right {
	background: url("/webfonts/css/evil-icons.svg") 12.5% 14.285714285714286% no-repeat;
}

.svg-evil-icons-ei-arrow-right-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-arrow-up {
	background: url("/webfonts/css/evil-icons.svg") 25% 0 no-repeat;
}

.svg-evil-icons-ei-arrow-up-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-bell {
	background: url("/webfonts/css/evil-icons.svg") 25% 14.285714285714286% no-repeat;
}

.svg-evil-icons-ei-bell-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-calendar {
	background: url("/webfonts/css/evil-icons.svg") 0 28.571428571428573% no-repeat;
}

.svg-evil-icons-ei-calendar-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-camera {
	background: url("/webfonts/css/evil-icons.svg") 12.5% 28.571428571428573% no-repeat;
}

.svg-evil-icons-ei-camera-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-cart {
	background: url("/webfonts/css/evil-icons.svg") 25% 28.571428571428573% no-repeat;
}

.svg-evil-icons-ei-cart-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-chart {
	background: url("/webfonts/css/evil-icons.svg") 37.5% 0 no-repeat;
}

.svg-evil-icons-ei-chart-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-check {
	background: url("/webfonts/css/evil-icons.svg") 37.5% 14.285714285714286% no-repeat;
}

.svg-evil-icons-ei-check-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-chevron-down {
	background: url("/webfonts/css/evil-icons.svg") 37.5% 28.571428571428573% no-repeat;
}

.svg-evil-icons-ei-chevron-down-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-chevron-left {
	background: url("/webfonts/css/evil-icons.svg") 0 42.857142857142854% no-repeat;
}

.svg-evil-icons-ei-chevron-left-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-chevron-right {
	background: url("/webfonts/css/evil-icons.svg") 12.5% 42.857142857142854% no-repeat;
}

.svg-evil-icons-ei-chevron-right-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-chevron-up {
	background: url("/webfonts/css/evil-icons.svg") 25% 42.857142857142854% no-repeat;
}

.svg-evil-icons-ei-chevron-up-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-clock {
	background: url("/webfonts/css/evil-icons.svg") 37.5% 42.857142857142854% no-repeat;
}

.svg-evil-icons-ei-clock-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-close {
	background: url("/webfonts/css/evil-icons.svg") 50% 0 no-repeat;
}

.svg-evil-icons-ei-close-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-close-o {
	background: url("/webfonts/css/evil-icons.svg") 50% 14.285714285714286% no-repeat;
}

.svg-evil-icons-ei-close-o-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-comment {
	background: url("/webfonts/css/evil-icons.svg") 50% 28.571428571428573% no-repeat;
}

.svg-evil-icons-ei-comment-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-credit-card {
	background: url("/webfonts/css/evil-icons.svg") 50% 42.857142857142854% no-repeat;
}

.svg-evil-icons-ei-credit-card-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-envelope {
	background: url("/webfonts/css/evil-icons.svg") 0 57.142857142857146% no-repeat;
}

.svg-evil-icons-ei-envelope-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-exclamation {
	background: url("/webfonts/css/evil-icons.svg") 12.5% 57.142857142857146% no-repeat;
}

.svg-evil-icons-ei-exclamation-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-external-link {
	background: url("/webfonts/css/evil-icons.svg") 25% 57.142857142857146% no-repeat;
}

.svg-evil-icons-ei-external-link-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-eye {
	background: url("/webfonts/css/evil-icons.svg") 37.5% 57.142857142857146% no-repeat;
}

.svg-evil-icons-ei-eye-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-gear {
	background: url("/webfonts/css/evil-icons.svg") 50% 57.142857142857146% no-repeat;
}

.svg-evil-icons-ei-gear-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-heart {
	background: url("/webfonts/css/evil-icons.svg") 62.5% 0 no-repeat;
}

.svg-evil-icons-ei-heart-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-image {
	background: url("/webfonts/css/evil-icons.svg") 62.5% 14.285714285714286% no-repeat;
}

.svg-evil-icons-ei-image-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-like {
	background: url("/webfonts/css/evil-icons.svg") 62.5% 28.571428571428573% no-repeat;
}

.svg-evil-icons-ei-like-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-link {
	background: url("/webfonts/css/evil-icons.svg") 62.5% 42.857142857142854% no-repeat;
}

.svg-evil-icons-ei-link-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-location {
	background: url("/webfonts/css/evil-icons.svg") 62.5% 57.142857142857146% no-repeat;
}

.svg-evil-icons-ei-location-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-lock {
	background: url("/webfonts/css/evil-icons.svg") 0 71.42857142857143% no-repeat;
}

.svg-evil-icons-ei-lock-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-minus {
	background: url("/webfonts/css/evil-icons.svg") 12.5% 71.42857142857143% no-repeat;
}

.svg-evil-icons-ei-minus-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-navicon {
	background: url("/webfonts/css/evil-icons.svg") 25% 71.42857142857143% no-repeat;
}

.svg-evil-icons-ei-navicon-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-paperclip {
	background: url("/webfonts/css/evil-icons.svg") 37.5% 71.42857142857143% no-repeat;
}

.svg-evil-icons-ei-paperclip-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-pencil {
	background: url("/webfonts/css/evil-icons.svg") 50% 71.42857142857143% no-repeat;
}

.svg-evil-icons-ei-pencil-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-play {
	background: url("/webfonts/css/evil-icons.svg") 62.5% 71.42857142857143% no-repeat;
}

.svg-evil-icons-ei-play-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-plus {
	background: url("/webfonts/css/evil-icons.svg") 75% 0 no-repeat;
}

.svg-evil-icons-ei-plus-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-pointer {
	background: url("/webfonts/css/evil-icons.svg") 75% 14.285714285714286% no-repeat;
}

.svg-evil-icons-ei-pointer-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-question {
	background: url("/webfonts/css/evil-icons.svg") 75% 28.571428571428573% no-repeat;
}

.svg-evil-icons-ei-question-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-redo {
	background: url("/webfonts/css/evil-icons.svg") 75% 42.857142857142854% no-repeat;
}

.svg-evil-icons-ei-redo-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-refresh {
	background: url("/webfonts/css/evil-icons.svg") 75% 57.142857142857146% no-repeat;
}

.svg-evil-icons-ei-refresh-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-retweet {
	background: url("/webfonts/css/evil-icons.svg") 75% 71.42857142857143% no-repeat;
}

.svg-evil-icons-ei-retweet-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-sc-facebook {
	background: url("/webfonts/css/evil-icons.svg") 0 85.71428571428571% no-repeat;
}

.svg-evil-icons-ei-sc-facebook-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-sc-github {
	background: url("/webfonts/css/evil-icons.svg") 12.5% 85.71428571428571% no-repeat;
}

.svg-evil-icons-ei-sc-github-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-sc-google-plus {
	background: url("/webfonts/css/evil-icons.svg") 25% 85.71428571428571% no-repeat;
}

.svg-evil-icons-ei-sc-google-plus-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-sc-instagram {
	background: url("/webfonts/css/evil-icons.svg") 37.5% 85.71428571428571% no-repeat;
}

.svg-evil-icons-ei-sc-instagram-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-sc-linkedin {
	background: url("/webfonts/css/evil-icons.svg") 50% 85.71428571428571% no-repeat;
}

.svg-evil-icons-ei-sc-linkedin-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-sc-odnoklassniki {
	background: url("/webfonts/css/evil-icons.svg") 62.5% 85.71428571428571% no-repeat;
}

.svg-evil-icons-ei-sc-odnoklassniki-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-sc-pinterest {
	background: url("/webfonts/css/evil-icons.svg") 75% 85.71428571428571% no-repeat;
}

.svg-evil-icons-ei-sc-pinterest-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-sc-skype {
	background: url("/webfonts/css/evil-icons.svg") 87.5% 0 no-repeat;
}

.svg-evil-icons-ei-sc-skype-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-sc-soundcloud {
	background: url("/webfonts/css/evil-icons.svg") 87.5% 14.285714285714286% no-repeat;
}

.svg-evil-icons-ei-sc-soundcloud-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-sc-telegram {
	background: url("/webfonts/css/evil-icons.svg") 87.5% 28.571428571428573% no-repeat;
}

.svg-evil-icons-ei-sc-telegram-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-sc-tumblr {
	background: url("/webfonts/css/evil-icons.svg") 87.5% 42.857142857142854% no-repeat;
}

.svg-evil-icons-ei-sc-tumblr-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-sc-twitter {
	background: url("/webfonts/css/evil-icons.svg") 87.5% 57.142857142857146% no-repeat;
}

.svg-evil-icons-ei-sc-twitter-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-sc-vimeo {
	background: url("/webfonts/css/evil-icons.svg") 87.5% 71.42857142857143% no-repeat;
}

.svg-evil-icons-ei-sc-vimeo-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-sc-vk {
	background: url("/webfonts/css/evil-icons.svg") 87.5% 85.71428571428571% no-repeat;
}

.svg-evil-icons-ei-sc-vk-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-sc-youtube {
	background: url("/webfonts/css/evil-icons.svg") 0 100% no-repeat;
}

.svg-evil-icons-ei-sc-youtube-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-search {
	background: url("/webfonts/css/evil-icons.svg") 12.5% 100% no-repeat;
}

.svg-evil-icons-ei-search-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-share-apple {
	background: url("/webfonts/css/evil-icons.svg") 25% 100% no-repeat;
}

.svg-evil-icons-ei-share-apple-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-share-google {
	background: url("/webfonts/css/evil-icons.svg") 37.5% 100% no-repeat;
}

.svg-evil-icons-ei-share-google-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-spinner {
	background: url("/webfonts/css/evil-icons.svg") 50% 100% no-repeat;
}

.svg-evil-icons-ei-spinner-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-spinner-2 {
	background: url("/webfonts/css/evil-icons.svg") 62.5% 100% no-repeat;
}

.svg-evil-icons-ei-spinner-2-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-spinner-3 {
	background: url("/webfonts/css/evil-icons.svg") 75% 100% no-repeat;
}

.svg-evil-icons-ei-spinner-3-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-star {
	background: url("/webfonts/css/evil-icons.svg") 87.5% 100% no-repeat;
}

.svg-evil-icons-ei-star-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-tag {
	background: url("/webfonts/css/evil-icons.svg") 100% 0 no-repeat;
}

.svg-evil-icons-ei-tag-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-trash {
	background: url("/webfonts/css/evil-icons.svg") 100% 14.285714285714286% no-repeat;
}

.svg-evil-icons-ei-trash-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-trophy {
	background: url("/webfonts/css/evil-icons.svg") 100% 28.571428571428573% no-repeat;
}

.svg-evil-icons-ei-trophy-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-undo {
	background: url("/webfonts/css/evil-icons.svg") 100% 42.857142857142854% no-repeat;
}

.svg-evil-icons-ei-undo-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-unlock {
	background: url("/webfonts/css/evil-icons.svg") 100% 57.142857142857146% no-repeat;
}

.svg-evil-icons-ei-unlock-dims {
	width: 54px;
	height: 54px;
}

.svg-evil-icons-ei-user {
	background: url("/webfonts/css/evil-icons.svg") 100% 71.42857142857143% no-repeat;
}

.svg-evil-icons-ei-user-dims {
	width: 54px;
	height: 54px;
}

