.svg-microns-align-center {
	background: url("/webfonts/css/microns.svg") 0 0 no-repeat;
}

.svg-microns-align-center-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-align-left {
	background: url("/webfonts/css/microns.svg") 9.375% 0 no-repeat;
}

.svg-microns-align-left-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-align-right {
	background: url("/webfonts/css/microns.svg") 0 10.038022813688213% no-repeat;
}

.svg-microns-align-right-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-arrow-down {
	background: url("/webfonts/css/microns.svg") 9.375% 10.038022813688213% no-repeat;
}

.svg-microns-arrow-down-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-arrow-left {
	background: url("/webfonts/css/microns.svg") 18.75% 0 no-repeat;
}

.svg-microns-arrow-left-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-arrow-right {
	background: url("/webfonts/css/microns.svg") 18.75% 10.038022813688213% no-repeat;
}

.svg-microns-arrow-right-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-arrow-up {
	background: url("/webfonts/css/microns.svg") 0 20.076045627376427% no-repeat;
}

.svg-microns-arrow-up-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-audio {
	background: url("/webfonts/css/microns.svg") 9.375% 20.076045627376427% no-repeat;
}

.svg-microns-audio-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-audio-description {
	background: url("/webfonts/css/microns.svg") 18.67704280155642% 20.076045627376427% no-repeat;
}

.svg-microns-audio-description-dims {
	width: 126.5px;
	height: 132px;
}

.svg-microns-bars {
	background: url("/webfonts/css/microns.svg") 27.808988764044944% 0 no-repeat;
}

.svg-microns-bars-dims {
	width: 116px;
	height: 132px;
}

.svg-microns-bold {
	background: url("/webfonts/css/microns.svg") 27.6536312849162% 10.038022813688213% no-repeat;
}

.svg-microns-bold-dims {
	width: 108px;
	height: 132px;
}

.svg-microns-bookmark {
	background: url("/webfonts/css/microns.svg") 27.197802197802197% 20.076045627376427% no-repeat;
}

.svg-microns-bookmark-dims {
	width: 84px;
	height: 132px;
}

.svg-microns-box {
	background: url("/webfonts/css/microns.svg") 36.36363636363637% 0 no-repeat;
}

.svg-microns-box-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-box-cross {
	background: url("/webfonts/css/microns.svg") 36.36363636363637% 10.038022813688213% no-repeat;
}

.svg-microns-box-cross-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-box-full {
	background: url("/webfonts/css/microns.svg") 36.36363636363637% 20.076045627376427% no-repeat;
}

.svg-microns-box-full-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-box-minus {
	background: url("/webfonts/css/microns.svg") 0 30.11406844106464% no-repeat;
}

.svg-microns-box-minus-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-box-plus {
	background: url("/webfonts/css/microns.svg") 9.375% 30.11406844106464% no-repeat;
}

.svg-microns-box-plus-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-box-tick {
	background: url("/webfonts/css/microns.svg") 18.75% 30.11406844106464% no-repeat;
}

.svg-microns-box-tick-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-calendar {
	background: url("/webfonts/css/microns.svg") 28.125% 30.11406844106464% no-repeat;
}

.svg-microns-calendar-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-cancel {
	background: url("/webfonts/css/microns.svg") 45.28832630098453% 0 no-repeat;
}

.svg-microns-cancel-dims {
	width: 118px;
	height: 132px;
}

.svg-microns-captions {
	background: url("/webfonts/css/microns.svg") 0 40.152091254752854% no-repeat;
}

.svg-microns-captions-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-caret {
	background: url("/webfonts/css/microns.svg") 44.23076923076923% 10.038022813688213% no-repeat;
}

.svg-microns-caret-dims {
	width: 84px;
	height: 132px;
}

.svg-microns-caret-down {
	background: url("/webfonts/css/microns.svg") 44.23076923076923% 20.076045627376427% no-repeat;
}

.svg-microns-caret-down-dims {
	width: 84px;
	height: 132px;
}

.svg-microns-caret-up {
	background: url("/webfonts/css/microns.svg") 44.23076923076923% 30.11406844106464% no-repeat;
}

.svg-microns-caret-up-dims {
	width: 84px;
	height: 132px;
}

.svg-microns-chapters {
	background: url("/webfonts/css/microns.svg") 9.375% 40.152091254752854% no-repeat;
}

.svg-microns-chapters-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-chart-bar {
	background: url("/webfonts/css/microns.svg") 37.07865168539326% 30.11406844106464% no-repeat;
}

.svg-microns-chart-bar-dims {
	width: 116px;
	height: 132px;
}

.svg-microns-chart-line {
	background: url("/webfonts/css/microns.svg") 18.53932584269663% 40.152091254752854% no-repeat;
}

.svg-microns-chart-line-dims {
	width: 116px;
	height: 132px;
}

.svg-microns-chart-pie {
	background: url("/webfonts/css/microns.svg") 26.874115983026876% 40.152091254752854% no-repeat;
}

.svg-microns-chart-pie-dims {
	width: 126px;
	height: 132px;
}

.svg-microns-chart-scatter {
	background: url("/webfonts/css/microns.svg") 35.53370786516854% 40.152091254752854% no-repeat;
}

.svg-microns-chart-scatter-dims {
	width: 116px;
	height: 132px;
}

.svg-microns-chat {
	background: url("/webfonts/css/microns.svg") 44.17613636363637% 40.152091254752854% no-repeat;
}

.svg-microns-chat-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-clock {
	background: url("/webfonts/css/microns.svg") 53.813559322033896% 0 no-repeat;
}

.svg-microns-clock-dims {
	width: 124px;
	height: 132px;
}

.svg-microns-cloud {
	background: url("/webfonts/css/microns.svg") 0 49.98106777735706% no-repeat;
}

.svg-microns-cloud-dims {
	width: 132px;
	height: 126.5px;
}

.svg-microns-code {
	background: url("/webfonts/css/microns.svg") 62.92613636363637% 0 no-repeat;
}

.svg-microns-code-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-cog {
	background: url("/webfonts/css/microns.svg") 62.92613636363637% 9.994472753704391% no-repeat;
}

.svg-microns-cog-dims {
	width: 132px;
	height: 126.27px;
}

.svg-microns-contract {
	background: url("/webfonts/css/microns.svg") 62.92613636363637% 19.640304182509507% no-repeat;
}

.svg-microns-contract-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-delete {
	background: url("/webfonts/css/microns.svg") 62.21910112359551% 29.67832699619772% no-repeat;
}

.svg-microns-delete-dims {
	width: 116px;
	height: 132px;
}

.svg-microns-down {
	background: url("/webfonts/css/microns.svg") 62.92613636363637% 39.628053083244176% no-repeat;
}

.svg-microns-down-dims {
	width: 132px;
	height: 129.07px;
}

.svg-microns-download {
	background: url("/webfonts/css/microns.svg") 62.92613636363637% 49.53155893536121% no-repeat;
}

.svg-microns-download-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-edit {
	background: url("/webfonts/css/microns.svg") 0 59.80988593155894% no-repeat;
}

.svg-microns-edit-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-expand {
	background: url("/webfonts/css/microns.svg") 9.375% 59.80988593155894% no-repeat;
}

.svg-microns-expand-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-fail {
	background: url("/webfonts/css/microns.svg") 18.75% 59.633931820938976% no-repeat;
}

.svg-microns-fail-dims {
	width: 132px;
	height: 128.12px;
}

.svg-microns-file {
	background: url("/webfonts/css/microns.svg") 53.51123595505618% 10.038022813688213% no-repeat;
}

.svg-microns-file-dims {
	width: 116px;
	height: 132px;
}

.svg-microns-flag {
	background: url("/webfonts/css/microns.svg") 71.99434229137199% 0 no-repeat;
}

.svg-microns-flag-dims {
	width: 126px;
	height: 132px;
}

.svg-microns-grid {
	background: url("/webfonts/css/microns.svg") 71.48876404494382% 10.038022813688213% no-repeat;
}

.svg-microns-grid-dims {
	width: 116px;
	height: 132px;
}

.svg-microns-group {
	background: url("/webfonts/css/microns.svg") 0 69.84790874524715% no-repeat;
}

.svg-microns-group-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-hd {
	background: url("/webfonts/css/microns.svg") 9.375% 69.84790874524715% no-repeat;
}

.svg-microns-hd-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-heart {
	background: url("/webfonts/css/microns.svg") 18.75% 69.84790874524715% no-repeat;
}

.svg-microns-heart-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-hide {
	background: url("/webfonts/css/microns.svg") 9.375% 49.90434999584131% no-repeat;
}

.svg-microns-hide-dims {
	width: 132px;
	height: 124.47px;
}

.svg-microns-i-asterisk {
	background: url("/webfonts/css/microns.svg") 70.30386740331491% 20.076045627376427% no-repeat;
}

.svg-microns-i-asterisk-dims {
	width: 92px;
	height: 132px;
}

.svg-microns-i-bullet {
	background: url("/webfonts/css/microns.svg") 69.91758241758242% 30.11406844106464% no-repeat;
}

.svg-microns-i-bullet-dims {
	width: 84px;
	height: 132px;
}

.svg-microns-i-cross {
	background: url("/webfonts/css/microns.svg") 69.91758241758242% 40.152091254752854% no-repeat;
}

.svg-microns-i-cross-dims {
	width: 84px;
	height: 132px;
}

.svg-microns-i-down {
	background: url("/webfonts/css/microns.svg") 70.74357192494789% 50.19011406844106% no-repeat;
}

.svg-microns-i-down-dims {
	width: 101px;
	height: 132px;
}

.svg-microns-i-left {
	background: url("/webfonts/css/microns.svg") 52.22755311857436% 20.076045627376427% no-repeat;
}

.svg-microns-i-left-dims {
	width: 81px;
	height: 132px;
}

.svg-microns-i-minus {
	background: url("/webfonts/css/microns.svg") 52.6243093922652% 30.11406844106464% no-repeat;
}

.svg-microns-i-minus-dims {
	width: 92px;
	height: 132px;
}

.svg-microns-i-plus {
	background: url("/webfonts/css/microns.svg") 52.6243093922652% 40.152091254752854% no-repeat;
}

.svg-microns-i-plus-dims {
	width: 92px;
	height: 132px;
}

.svg-microns-i-right {
	background: url("/webfonts/css/microns.svg") 27.049180327868854% 69.84790874524715% no-repeat;
}

.svg-microns-i-right-dims {
	width: 76px;
	height: 132px;
}

.svg-microns-i-tick {
	background: url("/webfonts/css/microns.svg") 32.58543320676562% 69.84790874524715% no-repeat;
}

.svg-microns-i-tick-dims {
	width: 91.5px;
	height: 132px;
}

.svg-microns-i-up {
	background: url("/webfonts/css/microns.svg") 39.1591382904795% 69.84790874524715% no-repeat;
}

.svg-microns-i-up-dims {
	width: 101px;
	height: 132px;
}

.svg-microns-image {
	background: url("/webfonts/css/microns.svg") 47.19460227272727% 69.84790874524715% no-repeat;
}

.svg-microns-image-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-indent {
	background: url("/webfonts/css/microns.svg") 56.56960227272727% 69.84790874524715% no-repeat;
}

.svg-microns-indent-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-info {
	background: url("/webfonts/css/microns.svg") 28.125% 59.633931820938976% no-repeat;
}

.svg-microns-info-dims {
	width: 132px;
	height: 128.12px;
}

.svg-microns-italic {
	background: url("/webfonts/css/microns.svg") 65.02100840336135% 69.84790874524715% no-repeat;
}

.svg-microns-italic-dims {
	width: 112px;
	height: 132px;
}

.svg-microns-left {
	background: url("/webfonts/css/microns.svg") 71.89497322508205% 69.84790874524715% no-repeat;
}

.svg-microns-left-dims {
	width: 92.75px;
	height: 132px;
}

.svg-microns-link {
	background: url("/webfonts/css/microns.svg") 81.25% 0 no-repeat;
}

.svg-microns-link-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-lock {
	background: url("/webfonts/css/microns.svg") 79.44444444444444% 10.038022813688213% no-repeat;
}

.svg-microns-lock-dims {
	width: 100px;
	height: 132px;
}

.svg-microns-mail {
	background: url("/webfonts/css/microns.svg") 81.25% 20.076045627376427% no-repeat;
}

.svg-microns-mail-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-matrix {
	background: url("/webfonts/css/microns.svg") 80.33707865168539% 30.11406844106464% no-repeat;
}

.svg-microns-matrix-dims {
	width: 116px;
	height: 132px;
}

.svg-microns-menu {
	background: url("/webfonts/css/microns.svg") 81.25% 40.152091254752854% no-repeat;
}

.svg-microns-menu-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-minus {
	background: url("/webfonts/css/microns.svg") 81.25% 50.19011406844106% no-repeat;
}

.svg-microns-minus-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-opts-h {
	background: url("/webfonts/css/microns.svg") 81.25% 59.078024765030584% no-repeat;
}

.svg-microns-opts-h-dims {
	width: 132px;
	height: 106.4px;
}

.svg-microns-opts-v {
	background: url("/webfonts/css/microns.svg") 78.14207650273224% 68.31939163498099% no-repeat;
}

.svg-microns-opts-v-dims {
	width: 76px;
	height: 132px;
}

.svg-microns-outdent {
	background: url("/webfonts/css/microns.svg") 0 79.88593155893535% no-repeat;
}

.svg-microns-outdent-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-pass {
	background: url("/webfonts/css/microns.svg") 37.5% 59.633931820938976% no-repeat;
}

.svg-microns-pass-dims {
	width: 132px;
	height: 128.12px;
}

.svg-microns-pause {
	background: url("/webfonts/css/microns.svg") 9.166666666666666% 79.88593155893535% no-repeat;
}

.svg-microns-pause-dims {
	width: 100px;
	height: 132px;
}

.svg-microns-play {
	background: url("/webfonts/css/microns.svg") 16.133518776077885% 79.88593155893535% no-repeat;
}

.svg-microns-play-dims {
	width: 102px;
	height: 132px;
}

.svg-microns-plus {
	background: url("/webfonts/css/microns.svg") 23.72159090909091% 79.88593155893535% no-repeat;
}

.svg-microns-plus-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-print {
	background: url("/webfonts/css/microns.svg") 32.7247191011236% 79.88593155893535% no-repeat;
}

.svg-microns-print-dims {
	width: 116px;
	height: 132px;
}

.svg-microns-radio-full {
	background: url("/webfonts/css/microns.svg") 46.875% 59.633931820938976% no-repeat;
}

.svg-microns-radio-full-dims {
	width: 132px;
	height: 128.12px;
}

.svg-microns-radio-off {
	background: url("/webfonts/css/microns.svg") 18.75% 49.6531800604866% no-repeat;
}

.svg-microns-radio-off-dims {
	width: 132px;
	height: 117.78px;
}

.svg-microns-radio-on {
	background: url("/webfonts/css/microns.svg") 41.33522727272727% 79.88593155893535% no-repeat;
}

.svg-microns-radio-on-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-redo {
	background: url("/webfonts/css/microns.svg") 50.71022727272727% 79.88593155893535% no-repeat;
}

.svg-microns-redo-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-replay {
	background: url("/webfonts/css/microns.svg") 59.57746478873239% 79.88593155893535% no-repeat;
}

.svg-microns-replay-dims {
	width: 120px;
	height: 132px;
}

.svg-microns-right {
	background: url("/webfonts/css/microns.svg") 66.7818873142067% 79.88593155893535% no-repeat;
}

.svg-microns-right-dims {
	width: 93.5px;
	height: 132px;
}

.svg-microns-rss {
	background: url("/webfonts/css/microns.svg") 75.24857954545455% 79.88593155893535% no-repeat;
}

.svg-microns-rss-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-search {
	background: url("/webfonts/css/microns.svg") 90.625% 0 no-repeat;
}

.svg-microns-search-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-share {
	background: url("/webfonts/css/microns.svg") 90.625% 10.038022813688213% no-repeat;
}

.svg-microns-share-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-show {
	background: url("/webfonts/css/microns.svg") 90.625% 19.961739998336522% no-repeat;
}

.svg-microns-show-dims {
	width: 132px;
	height: 124.47px;
}

.svg-microns-star {
	background: url("/webfonts/css/microns.svg") 90.625% 29.34418056562727% no-repeat;
}

.svg-microns-star-dims {
	width: 132px;
	height: 123.16px;
}

.svg-microns-strikeout {
	background: url("/webfonts/css/microns.svg") 89.6067415730337% 38.90722433460076% no-repeat;
}

.svg-microns-strikeout-dims {
	width: 116px;
	height: 132px;
}

.svg-microns-subtitles {
	background: url("/webfonts/css/microns.svg") 90.625% 48.94524714828897% no-repeat;
}

.svg-microns-subtitles-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-text {
	background: url("/webfonts/css/microns.svg") 90.43231750531538% 58.983269961977186% no-repeat;
}

.svg-microns-text-dims {
	width: 129px;
	height: 132px;
}

.svg-microns-text-size {
	background: url("/webfonts/css/microns.svg") 90.625% 69.0212927756654% no-repeat;
}

.svg-microns-text-size-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-text-unstyle {
	background: url("/webfonts/css/microns.svg") 88.61111111111111% 79.05931558935362% no-repeat;
}

.svg-microns-text-unstyle-dims {
	width: 100px;
	height: 132px;
}

.svg-microns-underline {
	background: url("/webfonts/css/microns.svg") 0 89.92395437262357% no-repeat;
}

.svg-microns-underline-dims {
	width: 100px;
	height: 132px;
}

.svg-microns-undo {
	background: url("/webfonts/css/microns.svg") 7.1022727272727275% 89.92395437262357% no-repeat;
}

.svg-microns-undo-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-up {
	background: url("/webfonts/css/microns.svg") 16.477272727272727% 89.72403693671136% no-repeat;
}

.svg-microns-up-dims {
	width: 132px;
	height: 129.07px;
}

.svg-microns-upload {
	background: url("/webfonts/css/microns.svg") 100% 0 no-repeat;
}

.svg-microns-upload-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-user {
	background: url("/webfonts/css/microns.svg") 100% 10.038022813688213% no-repeat;
}

.svg-microns-user-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-video {
	background: url("/webfonts/css/microns.svg") 100% 20.01698410772777% no-repeat;
}

.svg-microns-video-dims {
	width: 132px;
	height: 128.12px;
}

.svg-microns-vol-high {
	background: url("/webfonts/css/microns.svg") 100% 29.796579001360193% no-repeat;
}

.svg-microns-vol-high-dims {
	width: 132px;
	height: 131.01px;
}

.svg-microns-vol-low {
	background: url("/webfonts/css/microns.svg") 96.43835616438356% 39.781749049429656% no-repeat;
}

.svg-microns-vol-low-dims {
	width: 80px;
	height: 132px;
}

.svg-microns-vol-mid {
	background: url("/webfonts/css/microns.svg") 98.32402234636872% 49.81977186311787% no-repeat;
}

.svg-microns-vol-mid-dims {
	width: 108px;
	height: 132px;
}

.svg-microns-vol-mute {
	background: url("/webfonts/css/microns.svg") 100% 59.85779467680609% no-repeat;
}

.svg-microns-vol-mute-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-warn {
	background: url("/webfonts/css/microns.svg") 100% 69.69019167778721% no-repeat;
}

.svg-microns-warn-dims {
	width: 132px;
	height: 128.12px;
}

.svg-microns-web {
	background: url("/webfonts/css/microns.svg") 100% 78.78680730052211% no-repeat;
}

.svg-microns-web-dims {
	width: 132px;
	height: 117.78px;
}

.svg-microns-wifi {
	background: url("/webfonts/css/microns.svg") 100% 87.05232718876793% no-repeat;
}

.svg-microns-wifi-dims {
	width: 132px;
	height: 108.69px;
}

.svg-microns-zoom-in {
	background: url("/webfonts/css/microns.svg") 0 99.96197718631178% no-repeat;
}

.svg-microns-zoom-in-dims {
	width: 132px;
	height: 132px;
}

.svg-microns-zoom-out {
	background: url("/webfonts/css/microns.svg") 9.375% 99.96197718631178% no-repeat;
}

.svg-microns-zoom-out-dims {
	width: 132px;
	height: 132px;
}

